// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800');

// Define fonts for body and headers
$body-font:  "Mukta Mahee", "sans-serif";
$headers-font: "Mukta Mahee", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
