.noresult {
  height: 66vh;
  width: 33vw;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: 0.3s;
  background-color: white;
}

.map_noresul{

}

.parking-space-map-noresult {
  height: 50%;
  width: 100%;
}
