.my-bookings-title {
  margin-top: 20px;
  margin-left: 20px;
}

.my-booking-address {
  font-size: 22px;
  color: #4A9BDE;
}

.my-bookings-list {
  margin-left: 20px;
}

.my-booking-more-details {
  margin-top: -15px;
}
