.my-bookings-title {
  margin-top: 20px;
  margin-left: 20px;
}

.my-booking-address {
  font-size: 22px;
  color: #4A9BDE;
}

.my-bookings-list {
  margin-left: 20px;
}

.my-booking-more-details {
  margin-top: -15px;
}

.booking-item {
  padding: 10px;
}

.card {
  margin: 10px;
}

.bookings-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
