.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 70px) ;
  padding: 15px;
}

.upcoming-booking-card {
  width: 100%;
  height: 90%;
  text-align: left;
  padding-left: 20px;
}

.profile {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.dashboard-upcomign-bookings {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-align: left;
}

.dashboard-revenue {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.dashboard-revenue, .dashboard-upcoming-bookings {
  background: white;
  padding: 20px;
  display: flex;
  margin: 10px;
}

.profile {
  background: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.profile-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.dashboard-button {
  height: 30px;
  width: 120px;
  margin-top: 20px;
  padding-bottom: 5px !important;
  a {
    font-size: 20px !important;
  }
}
