// Specific CSS for your home-page
.stars-container {
    display: flex;
    justify-content: center;
  i {
    color: #fed631;
    font-size: 30px;
  }
}

.feature {
  i {
    font-size: 50px;
  }
}

.flex-container {
  h3 {
    text-align: center;
  }
  h5 {
    text-align: center;
  }
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.review.flex-item {
    padding: 15px;
}

.home-container {
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

// SEARCH BAR
.review-container {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature-container {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #dddddd;
}

.search-box {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 50px;
    height: 50px;
    width: 70%;
    text-align: center;
}

.search-box textarea:focus, input:focus{
    outline: none;
}

.review {
  width: 70%;
  p {
    font-size: 20px;
  }
}

.review-center {
    margin: auto;
    width: 70%;
    height: 25vh;
}
