.container-text-center-parking-space-show{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px;
}

.grid-parking-space-show {
  display: grid;
  grid-template-columns: 2fr 4fr ;
  grid-template-rows: 200px 200px 200px;
}

.parking-space-map-show {
  background-color: blue;
  grid-row: 1 / span 2;
}

.parking-space-show {
  padding-left: 20px;
  grid-row: 1 / span 2;
  h2 {
    font-size: 40px;
  };
  .price {
    color: $blue;
  }
}
