.my-parking-title {
  margin-top: 20px;
  margin-left: 20px;
}

.card {
  margin: 10px;
}

.parking-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
