.card {
  flex-direction: row;
}

.card-holder {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.card-body {
  display: flex;

}

.search-card {
  flex: 1 100%;
  margin: 25px 75px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: 0.3s;
  border-width: 0px;
}

.card-body {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.side-arrow {
  width: 20%;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.icons-right, .icons-left {
  display: flex;
  flex-direction: column;
}

.side-arrow-link {
  color: white;
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.search-content {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  padding-left: 0px;
}

.map-holder {
  flex: 0 0;
  height: 100%;
  position: sticky !important;
  top: 0 !important;
}
