 <h2>Parking Spaces</h2>

<ul>
<% @parking_spaces.each do |parking_space| %>
<li>Address: <%= parking_space.address %></li>

<%= link_to "View", parking_space_path(parking_space.id) %>
<% end %>
</ul>
