<!-- Your features code -->
<div class="main-container">

<div class="fullscreen-bg">
   <video autoplay muted loop id="myVideo" class="fullscreen-bg__video">
      <source src="<%= asset_url('video.mp4') %>" type="video/mp4">
    </video>
    <div class="flex-container">
    <h1><strong>DRIVE, PARK & ARRIVE</strong></h1>
    </div>
</div>

  <!-- FEATURES -->
  <div class="flex-container">
    <div class="feature flex-item text-center">
      <i class="fas fa-mobile-alt"></i>
      <br>
      <br>
      <br>
      <h3>Hassle-Free Booking</h3>
      <h5>Reserve a space with a few taps and skip the parking hunt.</h4>
    </div>
    <div class="feature flex-item text-center">
      <i class="fas fa-money-bill-wave"></i>
      <br>
      <br>
      <br>
      <h3>No-Surprise Pricing</h3>
      <h5>Compare prices, see your total cost up-front, and save up to 50%.</h4>
    </div>
    <div class="feature flex-item text-center">
      <i class="fas fa-car"></i>
      <br>
      <br>
      <br>
      <h3>Lightning-Fast Parking</h3>
      <h5>Park your car in seconds and go do your thing.</h4>
    </div>
  </div>
  <br>
  <br>
  <!-- REVIEWS  -->
  <div class="flex-container">
    <div class="review flex-item">
      <div class="stars-container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <br>
      <hr>
      <br>
      <p align="justify">I love ParkWise. It's the best app out there to help you find parking. So easy to use even my parents use it. Anytime I head into the city I use ParkWise. It saves me time and money. Great for concerts and when I commute to work.</p>
      <p> <strong> - COMMUTER</strong></p>
    </div>
    <div class="review flex-item">
      <div class="stars-container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <br>
      <hr>
      <br>
      <p align="justify">Using ParkWhiz was awesome! I didn't have to walk forever or drive around trying to find a spot.I have never been in and out of a parking garage after a concert so fast… Search, reserve, pay, park, it's that easy!</p>
      <p><strong>- CONCERTGOER</strong></p>
    </div>
    <div class="review flex-item">
      <div class="stars-container">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <br>
      <hr>
      <br>
      <p align="justify">Wow!! What a great experience. It takes a minute to set up. It is easy to use. The best thing, it saved us so much money on our holiday. I'm going to start using it for work to now. Thanks, ParkWise! You are my hero!</p>
      <p><strong> - TRAVELLING FAMILY MAN </strong></p>
    </div>
</div>

