<h1>Cars</h1>
<h1>Restaurants</h1>

<table>
  <tr>
    <th>Lisence</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Colour</th>
  </tr>
  <% @cars.each do |car| %>
  <tr>
    <td> <%= car.lisence %> </td>
    <td> <%= car.brand %> </td>
    <td> <%= car.model %> </td>
    <td> <%= car.colour %> </td>
  <tr>
  <% end %>
</table>
